<div class="selector">
    <div *ngIf="!gameResult; else resultTemplate">
        <h1 class="title">Numbers</h1>
        <div class="board">
            <button class="ball" tabindex="1" (click)="addBall(ball)" [ngClass]="ball.class"
                *ngFor="let ball of balls;let i = index" [disabled]="ball.disabled">
                <p>{{ball.title}}</p>
            </button>
        </div>
        <div class="buttons">
            <button class="button">
                Clear selection
            </button>
        </div>
    </div>
    <ng-template #resultTemplate>
        <h1 class="title">Result</h1>
        <div class="template">
            <p>The ball winner is:</p>
            <div class="ball-present ball-{{gameResult.ballNumberWin}}">
                {{gameResult.ballNumberWin}}
            </div>
            <div *ngIf="gameResult.state === true" class="template-col">
                <div class="template-info">
                    <h1 class="title-success">You Won</h1>
                    <strong>Profit: {{gameResult.betProfit}}
                        %</strong>

                    <strong class="success-message">Total win:
                        {{gameResult.user.userBetTotalAmountAndProfit.toFixed(2)}}
                        {{currencyCode}}</strong>
                </div>

                <div class="template-items">
                    <div *ngFor="let wrongResult of gameResult.user.userBetBalls" class="balls">
                        <div class="ball ball-{{wrongResult}}">
                            {{wrongResult}}
                        </div>
                        <p class="success-message" style="font-size: 21px;">
                            +{{gameResult.user.userBetAmount}} {{currencyCode}}</p>

                    </div>
                </div>
            </div>
            <div *ngIf="gameResult.state === false" class="template-col">
                <div class="template-info">
                    <h1 class="title-danger">You lost</h1>
                    <strong class="danger-message">Total lost: {{gameResult.user.userBetTotalAmount.toFixed(2)}}
                        {{currencyCode}}</strong>
                </div>
                <div class="template-items">
                    <div *ngFor="let wrongResult of gameResult.user.userBetBalls" class="balls">
                        <div class="ball ball-{{wrongResult}}">
                            {{wrongResult}}
                        </div>
                        <p class="danger-message" style="font-size: 21px;"> lost
                            -{{gameResult.user.userBetAmount}} {{currencyCode}}</p>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>